* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/*  NAVBAR  */
.navbar {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #000000d9;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-menu a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 600;
}

.nav-menu a:hover {
    color: #007bff;
}

nav .logo {
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #f2ebeb;
    text-decoration: none;
}

/*  HERO  */
.hero {
    height: 90vh;
    background: white
    url('img/bg.jpg') center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    animation: heroFade 1.2s ease forwards;
}

.hero-content .profile {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #b9b4b4;
    margin-bottom: 18px;
    transition: transform 0.4s ease;
}

.hero-content .profile:hover {
    transform: scale(1.05);
}

.hero h1 {
    font-size: 40px;
    color: #0a0505;
    margin-bottom: 5px;
}

.role {
    color: #393838;
    margin-bottom: 25px;
    font-size: 18px;
}

.btn {
    background: #007bff;
    color: #fff;
    padding: 12px 32px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.35s ease;
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.35);
}

.btn:hover {
    background: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0, 123, 255, 0.45);
}

/*  SECTION  */
.section {
    padding: 80px 40px;
    text-align: center;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.text {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

.bg-light {
    background: #ffffff;
}

/* Home */
#home {
        background: #ffffff;
        color: #fff;
        padding: 12px 32px;
        font-size: 10px;
        font-weight: 600;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 8px 20px rgba(0, 123, 255, 0.3);
}

#home .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #222;
}

#home .title span {
    color: #007bff;
}

#home .text {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

#home button {
    background: #007bff;
    color: #fff;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.3);
}

#home button:hover {
    background: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 123, 255, 0.4);
}

/*  SKILLS  */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-top: 30px;
    justify-items: center;
}

.skill-card {
    padding: 15px 25px;
    background: #c0cff1;
    border-radius: 10px;
    font-weight: 600;
    cursor: default;
    transition: all 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-8px);
    background: #a9bdf5;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/*  PROJECTS  */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
    justify-items: center;
}

.project-card {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.35s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
}

/*  FOOTER  */
footer {
    text-align: center;
    padding: 20px;
    background: #060303;
    color: white;
}
